<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Diary</title>
    <style>
        <%- include('partials/style') %>
        table{
            margin: 10px auto;
        }
        th, td{
            padding: 10px 10px;
        }
        a{
            text-decoration: none;
        }
        h1{
            margin-top: 60px; font-size: 45px; text-transform: uppercase; 
        }
        .card{
            width: 27.5%; height: auto; border-radius: 20px; border: 3px solid rgb(250, 171, 24); margin: 10px auto; text-align: left; margin: 60px auto; position: relative;
            box-shadow: 0px 10px 15px 0px grey;
        }
        .card:hover{
            bottom: 17px
        }
        .card p{
            padding-left: 20px; padding-right: 10px;
        }
        .card button{
            margin-bottom: 15px; margin-left: 20px; font-size: 15px; border-radius: 5px; padding: 5px 10px; width: auto; background-color: rgb(250, 171, 24);
        }
    </style>
</head>
<body>
    <%- include('partials/header', { user, page: 'foods' })%>
    <h1>Foods</h1>
    <% if(user) {%>
        <% if(user.role === 'admin') {%>
            <div style="width: 100%">
            <a href="/foods/add" style="font-size: 20px; color: rgb(250, 171, 24);">Add Food</a>
            </div>
        <%}%>
    <%}%>
    <% for(let i = 0; i < data.length; i++) { %>
        <a href="/foods/<%=data[i].id%>/restaurants" style="width: 26%">
            <div class = "card" >
                <img src="<%= data[i].image%>" style="margin: 0; width: 100%; border-top-right-radius: 17px; border-top-left-radius: 17px;">
                <p style="font-size: 25px; margin-bottom: 0; color: rgb(250, 171, 24); font-weight: bold; margin-top: 8px; letter-spacing: 1px;"><%=data[i].name%></p>
                <p style="color: grey; margin-top: 8px;"><%=data[i].calories%> calories</p>
                <% if(user) {%>
                    <% if(user.role === 'admin') {%>
                        <button><a href="/foods/edit/<%= data[i].id %>" style="color: whitesmoke">Edit</a></button> 
                        <button style="margin-left: 10px; background-color: red;"><a href="/foods/delete/<%= data[i].id %>" style="color: whitesmoke">Delete</a></button>
                    <%}%>
                <%}%>
            </div>
        </a>
    <% } %>
</body>
</html>