<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Diary</title>
    <style>
        <%- include('partials/style') %>
        .Error{
            border: 2px solid red
        }
        form{
            width: 300px; height: auto; border: 2px solid rgb(250, 171, 24); border-radius: 10px; margin: 20px auto; padding: 30px 10px;
        }
        input, button{
            margin-top: 10px; margin-bottom: 20px;
        }
        input{
            border-radius: 5px; width: 200px; height: 26px; font-size: 14px;
        }
        button{
            width: 90px; height: 30px; background-color:rgb(250, 171, 24); color: whitesmoke; border-radius: 5px; font-size: 14px; margin-bottom: 5px;
        }
        h1{
            margin-bottom: 20px;
        }
        a{
            text-decoration: none; color: rgb(250, 171, 24); font-size: 20px;
        }
    </style>
</head>
<body>
    <%- include('partials/header', {user, page:'signup'}) %>
    <h1>Sign Up</h1>
    <form action="/user/signup" method="POST">
        <label>First Name:</label><br>
        <input type="text" name="first_name" class="<%= error.first_name? 'Error' : ''%>" value="<%= error.first_name? `${error.first_name.msg}` : ''%>"><br>
        <label>Last Name:</label><br>
        <input type="text" name="last_name"><br>
        <label>Email:</label><br>
        <input type="text" name="email" class="<%= error.email? 'Error' : ''%>" value="<%= error.email? `${error.email.msg}` : ''%>"><br>
        <label>Password:</label><br>
        <input type="password" id="lname" name="password"><br>
        <button type="submit">Sign Up</button>
    </form> 
</body>
</html>